*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  height: 100vh;
  font-family: "Playpen Sans", cursive;
  overflow-x: Hidden;
  background-color: #fefae0;
}

i {
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
  letter-spacing: 2px;
}

hr {
  height: 1px;
  background-color: #d4a373;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  color: #d4a373;
}
.card .top-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem 0 0.8rem;
  width: 100%;
  background-color: #faedcd;
  z-index: 101;
}
.card .top-section .icon i {
  font-size: 7rem;
}
.card .top-section .dropdown-menu {
  width: 60px;
  text-align: center;
  transition: transform 0.3s;
}
.card .top-section .dropdown-menu .fa-gear {
  transition: transform 0.3s;
  font-size: 5rem;
}
.card .top-section .icon,
.card .top-section .dropdown-menu {
  margin: 0 0.7rem 0 0.7rem;
}
.card .top-section .buttons {
  position: absolute;
  width: 60px;
  text-align: center;
  display: none;
}
.card .top-section .buttons .menu-btn {
  margin-bottom: 1rem;
  opacity: 0;
}
.card .top-section .buttons .menu-btn i {
  font-size: 4rem;
  padding: 0.5rem;
}
.card .top-section .buttons .menu-btn:nth-child(1) {
  margin-top: 1rem;
}
.card .btn {
  cursor: pointer;
}
.card .bottom-note-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem;
  z-index: 1;
}
.card .bottom-note-section .note {
  position: relative;
  margin: 0.5rem;
  width: 190px;
  height: 150px;
  padding: 0.4rem;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d4a373;
  background-color: rgba(233, 237, 201, 0.4);
}
.card .bottom-note-section .note .options h2 {
  text-align: center;
}
.card .bottom-note-section .note .options i {
  position: absolute;
  font-size: 1.5rem;
  padding: 3px;
  top: 4px;
}
.card .bottom-note-section .note .options i:nth-child(2) {
  right: 0;
}
.card .bottom-note-section .note .options i:nth-child(3) {
  left: 0;
}
.card .wrap-animation {
  animation: expandMobile 0.6s forwards;
}
.card .active {
  transform: rotate(270deg);
}

.add-task-pop-up {
  position: absolute;
  display: flex;
  left: 69.2%;
  top: 2%;
  transform: scale(0.1) translate(-50%, -50%);
  opacity: 0;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
  width: 300px;
  height: 200px;
  background-color: #faedcd;
  border: 1px solid #745a40;
  color: #e6a85d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.add-task-pop-up label {
  margin-bottom: 0.5rem;
}
.add-task-pop-up .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.add-task-pop-up .title,
.add-task-pop-up .text {
  background-color: #fefae0;
  border: 1px solid #d4a373;
  resize: none;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
}
.add-task-pop-up .add-task-buttons {
  display: flex;
  justify-content: space-between;
}
.add-task-pop-up .add-task-buttons .add-task-btn {
  display: inline-block;
  cursor: pointer;
  background-color: #fefae0;
  border: 1px solid #d4a373;
  width: 50px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.active-pop-up {
  animation: addNoteAnimation 0.6s forwards;
}

@keyframes expandMobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 740px) {
  .dropdown-menu:hover .menu-btn {
    animation: expandPC 0.6s forwards;
  }
  .dropdown-menu:hover {
    transform: rotate(-270deg);
  }
}
.dropdown-menu:hover .menu-btn {
  animation-delay: 0.1s;
}

.dropdown-menu:hover .menu-btn:nth-child(2) {
  animation-delay: 0.2s;
}

.dropdown-menu:hover .menu-btn:nth-child(3) {
  animation-delay: 0.3s;
}

.dropdown-menu:hover .buttons {
  display: block;
}

.btn:hover {
  color: #745a40;
}

.menu-btn:hover {
  color: #d4a373;
}

.add-task-pop-up .add-task-btn:hover {
  background-color: #745a40;
  color: #faedcd;
  border: 1px solid #fefae0;
}

@keyframes expandPC {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes addNoteAnimation {
  from {
    left: 69.2%;
    top: 2%;
    transform: scale(0.1) translate(-50%, -50%);
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@media (max-width: 420px) {
  .card .top-section .icon i {
    font-size: 4rem;
  }
  .card .top-section .icon,
  .card .top-section .dropdown-menu {
    margin: 0 0.7rem 0 0.7rem;
  }
  .card .top-section .icon .fa-gear,
  .card .top-section .dropdown-menu .fa-gear {
    font-size: 4rem;
  }
  .card .bottom-note-section {
    margin: 1rem;
  }
  .card .bottom-note-section .note {
    width: 160px;
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .card .top-section h1 {
    font-size: 4rem;
  }
  .card .top-section .dropdown-menu {
    margin: 0;
  }
  .card .top-section .dropdown-menu .fa-gear {
    font-size: 4rem;
  }
  .card .top-section .menu-btn i {
    font-size: 4rem;
  }
  .card .bottom-note-section {
    margin: 0.6rem;
  }
  .card .bottom-note-section .note {
    width: 145px;
  }
}
@media (min-width: 375px) {
  .card .bottom-note-section {
    margin: 1.4rem;
  }
  .card .bottom-note-section .note {
    width: 165px;
  }
}
@media (min-width: 390px) and (max-width: 395px) {
  .card .bottom-note-section {
    margin: 1.2rem;
  }
  .card .bottom-note-section .note {
    width: 175px;
  }
}
@media (min-width: 395px) and (max-width: 420px) {
  .card .bottom-note-section {
    margin: 1rem;
  }
  .card .bottom-note-section .note {
    width: 186px;
  }
}/*# sourceMappingURL=main.css.map */