// breakpoints for mobilephones
@media (max-width: 420px) {
	.card {
		.top-section {
			.icon {
				i {
					font-size: 4rem;
				}
			}
			.icon,
			.dropdown-menu {
				margin: 0 0.7rem 0 0.7rem;
				.fa-gear {
					font-size: 4rem;
				}
			}
		}
		.bottom-note-section {
			margin: 1rem;
			.note {
				width: 160px;
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 359px) {
	.card {
		.top-section {
			h1 {
				font-size: 4rem;
			}
			.dropdown-menu {
				margin: 0;
				.fa-gear {
					
					font-size: 4rem;
				}
			}

			.menu-btn {
               
				i {
					font-size: 4rem;
				}
			}
		}
		.bottom-note-section {
			margin: 0.6rem;
			.note {
				width: 145px;
			}
		}
	}
}
@media (min-width: 375px) {
	.card {
		.bottom-note-section {
			margin: 1.4rem;
			.note {
				width: 165px;
			}
		}
	}
}
@media (min-width: 390px) and (max-width: 395px) {
	.card {
		.bottom-note-section {
			margin: 1.2rem;
			.note {
				width: 175px;
			}
		}
	}
}
@media (min-width: 395px) and (max-width: 420px) {
	.card {
		.bottom-note-section {
			margin: 1rem;
			.note {
				width: 186px;
			}
		}
	}
}
//breakpoints for tablets
