@use "./reset" as *;
@use "./colors" as *;

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: $third-color;
	.top-section {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.8rem 0 0.8rem;
		width: 100%;
		background-color: $main-color;
		z-index: 50;
		.icon {
			i {
				font-size: 7rem;
			}
		}
		.dropdown-menu {
			width: 60px;
			text-align: center;
			transition: transform 0.3s;
			.fa-gear {
				transition: transform 0.3s;
				font-size: 5rem;
			}
		}
		.icon,
		.dropdown-menu {
			margin: 0 0.7rem 0 0.7rem;
		}
		.buttons {
			position: absolute;
			width: 60px;
			text-align: center;
			display: none;
			.menu-btn {
				margin-bottom: 1rem;
				opacity: 0;
				i {
					font-size: 4rem;
					padding: 0.5rem;
				}
			}
			.menu-btn:nth-child(1) {
				margin-top: 1rem;
			}
		}
	}
	.btn {
		cursor: pointer;
	}
	//---------------------------------------------------------------//
	.bottom-note-section {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 2rem;
		z-index: 1;
		.note {
			position: relative;
			margin: 0.5rem;
			width: 190px;
			height: 150px;
			padding: 0.4rem;
			overflow: hidden;
			border-radius: 5px;
			border: 1px solid $third-color;
			background-color: $shadow-fourth-color;

			.options {
				h2 {
					text-align: center;
				}
				i {
					position: absolute;
					font-size: 1.5rem;
					padding: 3px;
					top: 4px;
				}
				i:nth-child(2) {
					right: 0;
				}
				i:nth-child(3) {
					left: 0;
				}
			}
		}
	}
	.wrap-animation {
		animation: expandMobile 0.6s forwards;
	}
	.active {
		transform: rotate(270deg);
	}
}

@import "./animations";
@import "./media";
